/* ============================= BORDER(暫) ============================= */
.menu,
.records {
    border-right: 1px solid #eee;
}

/* ============================= LAYOUT ============================= */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #fdfdfd;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20%;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu topbar"
        "menu records";
}

.menu {
    grid-area: menu;
    text-align: center;
    min-width: 200px;
    height: 100vh;
    background-color: #fdfdfd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topbar {
    grid-area: topbar;
    box-shadow: 0 -1px 12px rgba(85, 85, 85, .1);
    background-color: #fdfdfd;
    padding: 30px 0 10px 30px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.records {
    grid-area: records;
    overflow-y: auto;
    padding: 30px 30px;
}

/* ============================= STYLES ============================= */
h2 {
    font-size: 28px;
}

h3 {
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
}

/* ============================= MENU ============================= */
.menu img {
    display: block;
    width: 80px;
    margin: 50px auto 0px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.menu a {
    color: #222;
    text-decoration: none;
    transition: all 0.375s;
}

/* ============================= TOPBAR ============================= */
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    background-color: #fdfdfd;
    color: #666;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 5px 12px;
    width: 75px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.375s ease;
}

.tab.active {
    background-color: #f0f0f0;
    color: #222;
}

.user {
    background-color: #666;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 8px 14px;
    position: fixed;
    right: 20%;
    top: 0;
}

.user .fa-user {
    color: #f0f0f0;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 24px;
}

.user .userid {
    color: #f0f0f0;
    font-size: 16px;
}

/* ============================= SEARCH BOX ============================= */
.search-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-box input[type="text"],
.search-box input[type="date"],
.search-box button {
    vertical-align: middle;
    height: 100%;
}

.search-box input[type="text"],
.search-box input[type="date"] {
    border: 2px solid #e1e1e1;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 10px;
    width: auto;
    flex: 1; /* 讓輸入框擴展以填滿可用空間 */
}

.search-box input[type="text"] {
    cursor: text;
}

.search-box input[type="date"] {
    cursor: pointer;
}

.search-box button {
    background-color: transparent;
    border: none;
    color: #132241;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.search-box button:hover {
    background-color: #e1e1e1;
}

.search-box button i {
    line-height: 45px; /* 使 <i> 元素的高度与按钮相同 */
}

/* ============================= RECORD ============================= */
.recordcard {
    align-items: stretch;
    background: #fdfdfd;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(34, 34, 34, .1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px 30px;
}

.recordtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recordtitle h3 {
    margin-right: auto;
}

.recordtitle h3,
.recordtitle h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

.recordtitle h5,
.recordtitle i {
    margin-left: auto;
}

.recordtitle h5 {
    margin: 0;
}

.recordtitle .fa-solid {
    margin: 0 5px;
}

.recordtitle .fa-circle-check {
    color: #03734A;
}

.recordtitle .fa-circle-xmark {
    color: #BF1523;
}

.recordtitle .fa-circle-question {
    color: #132240;
}

.openclass {
    color: #666;
    font-size: 16px;
}

.timeslot {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 4px;
    margin-top: 12px;
    padding: 0;
}

.timeslot .days,
.timeslot .session {
    flex: 0 0 auto;
    /* 不伸缩 */
}

.timeslot li:last-child {
    margin-left: auto;
    /* 向右靠 */
}

.timeslot li {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
    border-radius: 4px;
    padding: 2px 6px;
    height: 20px;
}

.timeslot .days {
    background: #dae3f4;
    color: #132241;
}

.timeslot .session {
    background: #F2F2F2;
    color: #222;
}

/* ============================= DETAIL ============================= */
.recorddetails {
    background-color: #fdfdfd;
    position: relative;
    margin-top: 20px;
}


.reason {
    margin: 0 0 10px 0;
    color: #222;
}

.doc {
    margin-bottom: 5px;
}

.applytime {
    color: #666;
    padding: 5px 0;
    margin: 0;
}

.recorddetails a {
    color: #222;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.375s;
}

.recorddetails .fa-solid {
    margin: 0 5px;
}

.cancel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 600;
    background-color: #bf1523;
    color: #fdfdfd;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.accept {
    position: absolute;
    bottom: 0px;
    right: 90px;
    font-weight: 600;
    background-color: #03734A;
    color: #fdfdfd;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reject {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 600;
    background-color: #bf1523;
    color: #fdfdfd;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* ============================= APPLY ============================= */
.apply {
    bottom: 24px;
    display: flex;
    position: fixed;
    right: calc(20% + 20px);
}

.applybtn {
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-radius: 26px;
    box-shadow: 0 2px 16px rgba(34, 34, 34, .3);
    display: flex;
    padding: 14px 0px;
    width: 135px;
    font-size: 20px;
    font-weight: 600;
    color: #fdfdfd;
    text-decoration: none;
}