@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@600&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url(../pic/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    font-family: 'Noto Serif HK', serif;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    animation: rotata 6s infinite alternate linear;
}

.login-card {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    margin: 70px 30px 44px;
    border-radius: 1.25rem;
    border: 4px solid #4e4740;
    background: rgba(228, 220, 206, 0.7);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.login-card>h2 {
    color: #171612;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
}

.login-card>h3 {
    color: #4e4740;
    margin: 0 0 30px;
    font-weight: 600;
    font-size: 1.25rem;
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
}

.login-input{
    width: 100%;
    height: 50px;
}

.login-input{
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
    margin-bottom: 16px;
}

.login-input:hover {
    border: 2px solid #171612;
}

.login{
    width: 100%;
    height: 50px;
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #4e4740;
    color: #f9f9f9 !important;
    border: 0;
    font-family: inherit;
    font-size: 1rem !important;
    font-weight: 600;
    text-align: center !important;
    letter-spacing: 2px;
    transition: all 0.375s;
    line-height: 50px;
}

.login:hover{
    background: #171612;
}

.login-form>a {
    color: #4e4740;
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
    transition: all 0.375s;
}

.login-form>a:hover {
    color: #171612;
}

@keyframes rotata {
    100% {
        background-position: 15% 50%;
    }
}

@media(width>=500px) {
    body {
        padding: 0;
    }

    .login-card {
        margin: 0;
        width: 400px;
    }
}

/*--------------------------------------------------------------*/
