/* ============================= 主框架 ============================= */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #fdfdfd;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 25%;
    /* 左右空白各多少 可調 */
}

.wrapper {
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: auto;
    padding: 50px 64px;
    position: relative;
    border: 1px solid #eee;
}

/* ============================= STYLES ============================= */
h2 {
    font-size: 28px;
    color: #222;
    margin-top: 0;
}

/* ============================= FORM ============================= */
.form {
    display: flex;
    flex-direction: column;
}

.formgap {
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    color: #222;
    font-weight: 600;
    text-align: left;
    gap: 5px;
    margin-bottom: 8px;
}

.must {
    color: #666;
    font-size: 12px;
    font-weight: 500;
}

.input {
    padding: 0 20px;
    background: #eee;
    border-radius: 8px;
    cursor: pointer;
}

.inputbox {
    height: 48px;
    border: none;
    background: #eee;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.textarea {
    cursor: text;
    font-size: 16px;
    height: 100px;
    padding: 14px 0;
    resize: none;
}

.beforehand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px 10px;
}

/* ============================= FOOTER ============================= */
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: calc(100% - 208px);
    padding: 20px 0;
    background-color: #fdfdfd;
    color: #222;
    text-align: center;
    box-shadow: 0 -4px 16px rgba(85, 85, 85, .1);
    z-index: 999;
    display: flex;
    justify-content: center;
}

.nosend,
.sendout {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 20px;
    border-radius: 8px;
}

.nosend {
    background: #adadad;
    color: #fdfdfd;
    margin: 0 16px 0 64px;
    width: 180px;
}

.sendout {
    background: #222;
    color: #fdfdfd;
    margin: 0 64px 0 16px;
    width: 220px;
}