body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 25%;
  /* 左右空白各多少 可調 */
}

.wrapper {
  width: 100%;
}
h2 {
  font-size: 28px;
}
:root {
  --vh: 1vh;
}
* {
  box-sizing: border-box;
}
.primary-btn {
  background: #222;
  border: none;
  border-radius: 8px;
  color: #ffffff;
}
.primary-btn:hover {
  font-size: 15px;
}
select {
  width: 200px;
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: #ebebeb;
}

.primary-btn,
.secondary-btn {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex: none;
  flex-grow: 0;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 4px;
  justify-content: center;
  padding: 14px 20px;
}
.application-page .footer .primary-btn,
.application-page .footer .tertiary-btn {
  width: 50%;
  border-radius: 10px;
}

.application-page .content {
  height: 100vh;
  margin: auto;
  max-width: 643px;
  position: relative;
}
@media screen and (min-width: 580px) {
  .application-page .content {
    border-color: #eee;
    border-style: solid;
    border-width: 0 1px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 40px 64px;
  }
  .application-page .footer {
    align-self: stretch;
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 -4px 16px rgba(85, 85, 85, 0.1);
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    left: 50%;
    padding: 16px 20px;
    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 641px;
  }
  .application-page .footer .primary-btn,
  .application-page .footer .tertiary-btn {
    width: 174px;
  }
}
.primary-title {
  color: #222;
  font-size: 24px;
  font-weight: 700;
}
.primary-title,
.secondary-title {
  flex: none;
  flex-grow: 0;
  font-family: Noto Sans TC;
  font-style: normal;
}
.item-title {
  align-self: flex-start;
  color: #222;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
  text-align: left;
}
.form {
  gap: 28px;
  padding: 28px 0 0;
}
.form,
.form label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.form label {
  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
  padding: 0;
  width: 100%;
}
.form .form-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}
@media screen and (max-width: 280px) {
  .form .form-row {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    gap: 28px;
  }
}
.form .item-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.form .item-title .must {
  color: #666;
  font-family: Noto Sans TC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.form .img {
  width: 16px;
}
.form .sessions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.form .sessions-btn {
  align-items: center;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  padding: 10px 12px;
  width: 74px;
}
.form .sessions-btn.active {
  background: #e4edff;
  border: 2px solid #3364c7;
  border-radius: 8px;
  color: #3364c7;
}
.form .sessions-btn img {
  height: 16px;
  width: 16px;
}
.form .input-box,
.form .input-box-container {
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 48px;
  width: 100%;
}

.form .input-box {
  background: #eee;
  color: #222;
  padding: 0 20px;
}
.form .input-box,
.form .input-box.not-set {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.form .input-box.not-set {
  color: #adadad;
  font-family: Noto Sans TC;
}
.form .input-box.warning {
  border: 2px solid #e24949;
}
.form .input-box.textarea {
  align-items: start;
  cursor: text;
  font-size: 16px;
  height: 100px;
  justify-content: start;
  margin-bottom: 80px;
  padding: 14px 20px;
  resize: none;
  text-align: start;
}
.form .input-box.input-box.textarea::-webkit-input-placeholder {
  color: #adadad;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.form .input-box.input-box.textarea::placeholder {
  color: #adadad;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.form .input-box-container img {
  margin-left: -20px;
  width: 14px;
}
.form .course-and-sessions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.form .course-and-sessions.hidden {
  display: none;
}
.tertiary-btn {
  cursor: pointer;
}
.tertiary-btn .underlined {
  align-items: center;
  background: transparent;
  border: none;
  color: #060707;
  cursor: pointer;
  display: inline-block;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 0; /* 修改內邊距設置 */
}

.tertiary-btn .underlined:hover {
  font-size: 15px;
}
#fileinput {
  border: none;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
}

#fileinput:hover {
  background-color: #dbdbdb;
}
.form .course-and-sessions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.form .course-and-sessions.hidden {
  display: none;
}
